.custom-logo {
  .site-meta-headline { text-align: center; }

  .brand { background: url(https://www.bnu.edu.cn/images/content/2020-06/20200611093111481229.jpg); }

  .site-title {
    margin: 10px auto 0;
    font-size: 24px;
    color: $black-deep;
    a { border: none; }
  }


}

.custom-logo-image {
  margin: 0 auto;
  padding: 5px;
  max-width: 150px;
  background: white;
}
