{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<head>
<title>页面标题</title>

<style>
body {
	background-image: url("https://www.scut.edu.cn/_upload/article/images/04/1d/1d75ec6d4ff6a89ee1bde532f4f3/f1db5f6d-260f-48bf-8b9b-b8044445f87b.jpg");
} 

</style>

</head>

<section id="posts" class="posts-expand">
  {% for post in posts %}
    {% assign is_index = true %}
    {% include _macro/post.html %}
  {% endfor %}
</section>

{% include _partials/pagination.html %}


