<blockquote class="blockquote-center">
<img src="https://photo.gdut.edu.cn/__local/A/42/0B/1D826E87EDEA8E6FC6B7E485680_92636FC2_3A901A.jpg" class="full-image" />
Guangdong University of Technology
</blockquote>

<body>
<div class="row section-head">
        <div class="twelve columns">
            <h1> <center> <font size=5 color="blue"> Research interest </font> <center> </h1>
            <img src="/assets/images/PRD1.jpg" class="full-image" />
            <p><font size=3> <center> river deltas, morphology, ecology, environment, society <center> </font> </p>
            <hr />
            <h1><font size=5 color="blue"> Our updates </font> <center></h1>
            <hr />
        </div>
    </div>
</body>

{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<section id="posts" class="posts-expand">
  {% for post in posts %}
    {% assign is_index = true %}
    {% include _macro/post.html %}
  {% endfor %}
</section>

{% include _partials/pagination.html %}


