<blockquote class="blockquote-center">
<img src="https://www.bnu.edu.cn/images/content/2020-05/20200507080616056132.jpg" class="full-image" />
Beijing Normal University at Zhuhai
</blockquote>

<body>
<div style="color:red">## Research interest
### river deltas, morphology, ecology
</div>
</body>

{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<section id="posts" class="posts-expand">
  {% for post in posts %}
    {% assign is_index = true %}
    {% include _macro/post.html %}
  {% endfor %}
</section>

{% include _partials/pagination.html %}


