// Custom styles.


// 修改成你期望的宽度
$content-desktop: 1900px
.header { background: url(https://www.scut.edu.cn/_upload/article/images/04/1d/1d75ec6d4ff6a89ee1bde532f4f3/f1db5f6d-260f-48bf-8b9b-b8044445f87b.jpg); }
/*
body{
    background:url(https://www.scut.edu.cn/_upload/article/images/04/1d/1d75ec6d4ff6a89ee1bde532f4f3/f1db5f6d-260f-48bf-8b9b-b8044445f87b.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
*/
/*
//文章内容背景改成了半透明
.content-wrap {
    background: rgba(255, 255, 255, 0.8);
}
.sidebar {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 6px #dbdbdb;
}
.site-nav{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
}
.sidebar-inner {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 2px 6px #dbdbdb;
}
.header-inner {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 6px #dbdbdb;
}
.footer {
    font-size: 14px;
    color: #434343;
}
*/
	
